{%extends 'base.html'%} {%block content%}
<div class="product_container">
  <form action="/tags/Chemical Free">
    <button type="submit" class="btn btn-primary" id="spacingbox">Chemical Free</button>
  </form>
 
  <form action="/tags/Dairy Free">
    <button type="submit" class="btn btn-primary" id="spacingbox">Dairy Free</button>
  </form>
 
  <form action="/tags/EWG Verified">
    <button type="submit" class="btn btn-primary" id="spacingbox">EWG Verified</button>
  </form>

  <form action="/tags/EcoCert">
    <button type="submit" class="btn btn-primary" id="spacingbox">EcoCert</button>
  </form>

  <form action="/tags/Fair Trade">
    <button type="submit" class="btn btn-primary" id="spacingbox">Fair Trade</button>
  </form>
</div>
<div class="product_container_two">
  <form action="/tags/Gluten Free">
    <button type="submit" class="btn btn-primary" id="spacingbox">Gluten Free</button>
  </form>
 
  <form action="/tags/Hypoallergenic">
    <button type="submit" class="btn btn-primary" id="spacingbox">Hypoallergenic</button>
  </form>
 
  <form action="/tags/No Talc">
    <button type="submit" class="btn btn-primary" id="spacingbox">No Talc</button>
  </form>

  <form action="/tags/Non-GMO">
    <button type="submit" class="btn btn-primary" id="spacingbox">Non-GMO</button>
  </form>
  
  <form action="/tags/Organic">
    <button type="submit" class="btn btn-primary" id="spacingbox">Organic</button>
  </form>
</div>
<div class="product_container_three">
  <form action="/tags/Peanut Free Product">
    <button type="submit" class="btn btn-primary" id="spacingbox">Peanut Free Product</button>
  </form>

  <form action="/tags/Sugar Free">
    <button type="submit" class="btn btn-primary" id="spacingbox">Sugar Free</button>
  </form>
 
  <form action="/tags/USDA Organic">
    <button type="submit" class="btn btn-primary" id="spacingbox">USDA Organic</button>
  </form>

  <form action="/tags/Vegan">
    <button type="submit" class="btn btn-primary" id="spacingbox">Vegan</button>
  </form>
  
  <form action="/tags/Alcohol Free">
    <button type="submit" class="btn btn-primary" id="spacingbox">Alcohol Free</button>
  </form>
</div>
<div class="product_container_four">
  <form action="/tags/Cruelty Free">
    <button type="submit" class="btn btn-primary" id="spacingbox">Cruelty Free</button>
  </form>
 
  <form action="/tags/Oil Free">
    <button type="submit" class="btn btn-primary" id="spacingbox">Oil Free</button>
  </form>
 
  <form action="/tags/Purpicks">
    <button type="submit" class="btn btn-primary" id="spacingbox">Purpicks</button>
  </form>

  <form action="/tags/Silicone Free">
    <button type="submit" class="btn btn-primary" id="spacingbox">Silicone Free</button>
  </form>
 
  <form action="/tags/Water Free">
    <button type="submit" class="btn btn-primary" id="spacingbox">Water Free</button>
  </form>
</div>
</div>
{%endblock%}
