{%extends 'base.html'%} {%block content%}

<div class="product_container">
  <form action="/brands/Almay" class="brandBtn">
    <button  class="btn btn-primary" id="spacingbox">Almay</button>
  </form>

  <form action="/brands/Alva" class="brandBtn">
    <button class="btn btn-primary" id="spacingbox">Alva</button>
  </form>


  <form action="/brands/Anna Sui" class="brandBtn">
    <button class="btn btn-primary" id="spacingbox">Anna Sui</button>
  </form>



  <form action="/brands/Benefit" class="brandBtn">
    <button class="btn btn-primary" id="spacingbox">Benefit</button>
  </form>



  <form action="/brands/Burt's Bees" class="brandBtn">
    <button class="btn btn-primary" id="spacingbox">Burt's Bees</button>
  </form>
</div>
 

  <div class="product_container_two">
  <form action="/brands/Butter London" class="brandBtn">
    <button class="btn btn-primary" id="spacingbox">Butter London</button>
  </form>
 

  <form action="/brands/Clinique" class="brandBtn">
    <button class="btn btn-primary" id="spacingbox">Clinique</button>
  </form>



  <form action="/brands/Colourpop" class="brandBtn">
    <button class="btn btn-primary" id="spacingbox">Colourpop</button>
  </form>
  

  <form action="/brands/Covergirl" class="brandBtn">
    <button class="btn btn-primary" id="spacingbox">Covergirl</button>
  </form>



  <form action="/brands/Dior" class="brandBtn">
    <button class="btn btn-primary" id="spacingbox">Dior</button>
  </form>
</div>

  <div class="product_container_three">
  <form action="/brands/Glossier" class="brandBtn">
    <button class="btn btn-primary" id="spacingbox">Glossier</button>
  </form>



  <form action="/brands/L'oreal" class="brandBtn">
    <button class="btn btn-primary" id="spacingbox">L'oreal</button>
  </form>



  <form action="/brands/Maybelline" class="brandBtn">
    <button class="btn btn-primary" id="spacingbox">Maybelline</button>
  </form>



  <form action="/brands/Milani" class="brandBtn">
    <button class="btn btn-primary" id="spacingbox">Milani</button>
  </form>



  <form action="/brands/Nyx" class="brandBtn">
    <button class="btn btn-primary" id="spacingbox">NYX</button>
  </form>

</div>
  <div class="product_container_four">
  <form action="/brands/Pacifica" class="brandBtn">
    <button class="btn btn-primary" id="spacingbox">Pacifica</button>
  </form>



  <form action="/brands/Revlon" class="brandBtn">
    <button class="btn btn-primary" id="spacingbox">Revlon</button>
  </form>


  <form action="/brands/Smashbox" class="brandBtn">
    <button class="btn btn-primary" id="spacingbox">Smashbox</button>
  </form>


  <form action="/brands/Stila" class="brandBtn">
    <button class="btn btn-primary" id="spacingbox">Stila</button>
  </form>



  <form action="/brands/Wet n Wild" class="brandBtn">
    <button class="btn btn-primary" id="spacingbox">Wet n Wild</button>
  </form>
</div>
</div>
  {%endblock%}

