{%extends 'base.html'%} {%block content%}
<div class="product_container">
  <form action="/categories/Blush" class="brandBtn">
    <button class="btn btn-primary" id="spacingbox">Blush</button>
  </form>

  <form action="/categories/Bronzer" class="brandBtn">
    <button class="btn btn-primary" id="spacingbox">Bronzer</button>
  </form>

  <form action="/categories/Eyebrow" class="brandBtn">
    <button class="btn btn-primary" id="spacingbox">Eyebrow</button>
  </form>

  <form action="/categories/Eyeliner" class="brandBtn">
    <button class="btn btn-primary" id="spacingbox">Eyeliner</button>
  </form>
</div>

<div class="product_container_two">
  <form action="/categories/Eyeshadow" class="brandBtn">
    <button class="btn btn-primary" id="spacingbox">Eyeshadow</button>
  </form>

    <form action="/categories/Foundation" class="brandBtn">
      <button class="btn btn-primary" id="spacingbox">Foundation</button>
    </form>

    <form action="/categories/Lip Liner" class="brandBtn">
      <button class="btn btn-primary" id="spacingbox">Lip Liner</button>
    </form>

    <form action="/categories/Lipstick" class="brandBtn">
      <button class="btn btn-primary" id="spacingbox">Lipstick</button>
    </form>

  </div>

  <div class="product_container_three">
    <form action="/categories/Mascara" class="brandBtn">
      <button class="btn btn-primary" id="spacingbox">Mascara</button>
    </form>

    <form action="/categories/Nail Polish" class="brandBtn">
      <button class="btn btn-primary" id="spacingbox">Nail Polish</button>
    </form>

    <form action="/categories/Pencil" class="brandBtn">
      <button class="btn btn-primary" id="spacingbox">Pencil</button>
    </form>
  </div>
</div>
{%endblock%}
